@model IMABS.Components.Widgets.ContributionWidget.ContributionWidgetViewModel

    <div class="panel bgblue mb-4 flex-container">
        <div>
            <img src="@Model.BackgroundImageUrl" alt="@Model.ImgAltText" class="mx-auto d-block mb-4"><!--Editable Image Field-->
            <p class="text-center mb-0">@Model.Title</p><!--Editable Text Field-->
        </div>
    </div>
