@using IMABS.Components.Sections
@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<ThemeSectionProperties>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        @*@Html.Kentico().WidgetZone()*@
        <widget-zone />
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        @*@Html.Kentico().WidgetZone()*@
        <widget-zone />
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        @*@Html.Kentico().WidgetZone()*@
        <widget-zone />
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        @*@Html.Kentico().WidgetZone()*@
        <widget-zone />
    </div>
</div>

