
@{
	ViewBag.Title = "NotFound";
}

<link href="/Content/NotFound.css" rel="stylesheet" />


<div id="main">
	<div class="fof">
		<h1>404 - Not Found</h1>
	</div>
</div>

<div style="display:none">
	<editable-area area-identifier="NotFound" />
	@*@Html.Kentico().EditableArea("NotFound");*@
</div>
